<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medical Records Dashboard</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Medical Records Dashboard</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="/doctors" class="btn btn-primary btn-block">Manage Doctors</a>
        </div>
        <div class="col-md-4">
            <a href="/patients" class="btn btn-primary btn-block">Manage Patients</a>
        </div>
        <div class="col-md-4">
            <a href="/reports" class="btn btn-primary btn-block">View Reports</a>
        </div>
    </div>
</div>
<script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
